# Node / React Frontend
node_modules
frontend/node_modules
dist
frontend/dist
dist-ssr
*.local
.env
.env.*
!.env.example


# Java / Maven Backend
target
backend/target
*.class
*.jar
*.war
*.ear
*.log

# IDE & Editor files
.idea
.vscode/*
!.vscode/extensions.json
*.swp
*.suo
.DS_Store
.classpath
.project
.settings

# OS Generated
Thumbs.db
